@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 10px 70px;
}

.navLeft {
    display: flex;
    align-items: center;
}

.navLeft ul li {
    display: inline;
    margin: 18px;
}

.navLeft a {
    text-decoration: none;
    color: blueviolet;
}

.navLeft a:active {
    font-weight: bold;
}

.navRight a {
    color: white;
    background-color: blueviolet;
    padding: 8px 28px;
    border-radius: 15px;
    text-decoration: none;
}



/* main content */
.cardItem {
    display: flex;
    margin: auto;
    height: 90vh;
    background-color: #d3d3d3;
}

.contentContainer {
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: aquamarine;
    padding: 32px;
    border-radius: 10px;
}

.leftContent {
    width: 60%;
    align-items: center;
}

.leftContent h1 {
    margin: 0;
    color: #112B3C
}

.desc_person {
    text-align: justify;
}

.download-cv {
    margin: 40px 0;
}

.link-contactme {
    padding: 8px 32px;
    background-color: #112B3C;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-right: 18px;
}

.link-download {

    text-decoration: none;
    cursor: pointer;
    color: black;
}

.socialmedia-link {
    margin-top: 80px;
}

.sosmedLinkItem {
    padding: 12px 18px;
    background-color: #112B3C;
    border-radius: 50%;
    color: white;
    margin: 0 6px;
}

.rightContent {
    width: 40%;
    display: flex;
    justify-content: end;
}

.cardContainer {
    border-radius: 8px;
    height: 430px;
    width: 350px;
    align-items: center;
    box-shadow: 0 0 16px rgb(241, 214, 214);
}

.cardImage {
    height: 340px;
    width: 100%;
}

.cardImage img {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.textCard {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.nameCard {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.jobCard {
    text-align: center;
    margin: 0;
    font-weight: 300;
}




/* contact-me form */
.contactMe {
    height: 100vh;
    display: flex;
    background-color: #d3d3d3;
}

.formContainer {
    margin: auto;
    margin-top: 18px;
    width: 60%;
    box-sizing: border-box;
    /* background-color: #112B3C; */
}

.formContainer h1 {
    margin: 0;
    text-align: center;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin: 14px 0;
}

.inputWrapper input {
    border: none;
    padding: 12px 12px;
    border-radius: 10px;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
}

.inputWrapper select {
    border: none;
    padding: 12px 12px;
    border-radius: 10px;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
}

.inputWrapper option {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.inputWrapper textarea {
    resize: none;
    height: 60px;
    border-radius: 10px;
    border: none;
    padding: 12px 12px;
    font-family: 'Poppins', sans-serif;
}

.inputWrapper label {
    font-weight: 500;
    font-size: 16px;
}

.buttonWrapper {
    display: flex;
    justify-content: end;
    margin: 30px 0;
}

.buttonWrapper button {
    border: none;
    padding: 16px 40px;
    border-radius: 40px;
    background-color: #112B3C;
    color: white;
    font-weight: 500;
    cursor: pointer;
}